<!-- Footer -->
<footer class="footer container">
    {% assign content_is_not_empty = site.footer.content | is_not_empty %}
    {% if content_is_not_empty %}
    <div class="copyright">{{ site.footer.content | markdownify }}</div>
    {% endif %}
    {% assign links_is_not_empty = site.footer.links | is_not_empty %}
    {% if links_is_not_empty %}
    <nav>
        {% for link in site.footer.links %}
        <a class="subtle-link" href="{{ link.url | relative_url }}"{% assign new_window_is_not_empty = link.new_window | is_not_empty %}{% if new_window_is_not_empty %} target="_blank" rel="noopener"{% endif %}>{{ link.label }}</a>
        {% endfor %}
    </nav>
    {% endif %}
    {% assign has_social_is_not_empty = site.footer.has_social | is_not_empty %}
    {% if has_social_is_not_empty %}
    <div class="social-links">
        {% for link in site.footer.social_links %}
        {% assign link_is_not_empty = link | is_not_empty %}
        {% if link_is_not_empty %}
        <a class="subtle-link" href="{{ link.url | relative_url }}"{% assign new_window_is_not_empty = link.new_window | is_not_empty %}{% if new_window_is_not_empty %} target="_blank" rel="noopener"{% endif %}>{{ link.label }}</a>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</footer>
